<!DOCTYPE HTML>
<html ng-app="cleanroads" lang="it" ng-cloak>
	<head>
		<meta charset="utf-8" /> 
		<link rel="stylesheet" type="text/css" href="styles/ol.css">
		<link rel="stylesheet" type="text/css" href="styles/app.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/ol.js"></script>
		<script type="text/javascript" src="js/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/i18n.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<meta name="viewport" content="width=device-width">

	</head>
	<body ng-controller="CleanRoadsCtrl">
		<div id="map"></div>
		<aside class="legend" ng-init="mobilepop=false">
			<div class="langs bluepanel clearfix">
				<ul>
					<li><a href="javascript:void(0)" ng-class="lang=='it'?'active':''" ng-click="lang='it'">it</a></li>
					<li><a href="javascript:void(0)" ng-class="lang=='de'?'active':''" ng-click="lang='de'">de</a></li>
					<li><a href="javascript:void(0)" ng-class="lang=='en'?'active':''" ng-click="lang='en'">en</a></li>
				</ul>
			</div>
			<div class="header clearfix" ng-init="closed=false;">
				<div class="logo">
					<img src="img/logo.png" alt="Logo" >
				</div>
				<div class="title">
					<a href="javascript:void(0)" class="close" ng-show="closed || mobilepop" ng-click="closed=false;mobilepop=false"></a>
					<a href="javascript:void(0)" class="close menu" ng-hide="closed || mobilepop" ng-click="closed=true"></a>
					<h2><strong>BETA</strong></h2>
				</div>
			</div>
			<div class="bluepanel infos" ng-class="closed?'openinfo':''">
				<div>
					<h2>{{i18n[lang]['legend']}}</h2>
					<ul>
						<li class="no-rainfall">
							<span>{{i18n[lang]['noRainfall']}}</span>
						</li>
					<!--
						<li class="tempok">
							<span>{{i18n[lang]['over']}}</span>
						</li>
						<li class="tempwarning">
							<span>{{i18n[lang]['inbetween']}}</span>
						</li>-->
						<li class="temphazard">
							<span>{{i18n[lang]['under']}}</span>
						</li>
					<!--</ul>
				</div>
				<div>
					<h2>{{i18n[lang]['rainfall']}}</h2>
					<ul>-->
						<li class="low-rainfall">
							<span>{{i18n[lang]['lowIntensity']}}</span>
						</li>
						<li class="medium-rainfall">
							<span>{{i18n[lang]['mediumIntensity']}}</span>
						</li>
						<li class="high-rainfall">
							<span>{{i18n[lang]['highIntensity']}}</span>
						</li>
						<li class="low-snow">
							<span>{{i18n[lang]['lowSnow']}}</span>
						</li>
						<li class="medium-snow">
							<span>{{i18n[lang]['mediumSnow']}}</span>
						</li>
						<li class="high-snow">
							<span>{{i18n[lang]['highSnow']}}</span>
						</li>
					</ul>
				</div>
				<p>{{i18n[lang]['measurementNote']}}</p>
			</div>
			<div class="legend-footer">
				<div class="footer-content clearfix">
					<p><strong><a href="mailto:open@tis.bz.it">{{i18n[lang]['feedback']}}</a> | <a href="http://clean-roads.eu/" target="_blank">{{i18n[lang]['cleanroads']}}</a></strong></p>
					<ul>
						<li><a href="http://www.madeincima.it/" target="_blank">{{i18n[lang]['asplic']}}</a></li>
						<li><a href="http://www.madeincima.it/" target="_blank">{{i18n[lang]['designedBy']}}</a></li>
					</ul>
					<a href="http://ec.europa.eu/environment/life/" target="_blank" class="lifelogo" title="life-program"><img src="img/life.jpg" width="60px" title="life programm"></a>
				</div>
			</div>
			<div class="info-overlay-container" ng-show="mobilepop">
				<div class="info-overlay clearfix" id ="info-overlay"></div>
			</div>
		</aside>
		<div ng-init = "partner = false" class="voice clearfix partner" ng-class="partner?'show-more':''">
			<a class="title" href="" ng-click="partner=!partner">{{i18n[lang]['partner']}}</a>
			<div class="content">
				<a href="http://www.provincia.tn.it/" target="_blank" title="Provincia di Trento"><img src="img/trento.jpg" alt="Provincia di Trento"></a>
				<a href="http://www.famassystem.it/" target="_blank" title="Famas Systems"><img src="img/famas.gif" alt="FAMAS"></a>
				<a href="http://www.tis.bz.it/" target="_blank" title="TIS innovation park"><img src="img/tis.png" alt="TIS innovation park"></a>
				<a href="http://ec.europa.eu/environment/life/" target="_blank" title="life-program"><img src="img/life.jpg" title="life programm"></a>
			</div>
		</div>
		<div ng-init = "contribute = false"  class="voice clearfix contribute" ng-class="contribute?'show-more':''">
			<a class="title" href="" ng-click="contribute=!contribute">{{i18n[lang]['contribute']}}</a>
			<div class="content">
				<ul>
					<li><a href="https://docs.google.com/forms/d/1k3KSzbnZUtZsiVT-DGmT1ninBhn71b8jtH0gPn66tJs/closedform#start=openform" target="_blank">{{i18n[lang]['feedback']}}</a></li>
					<li><a href="http://clean-roads.eu/" target="_blank">{{i18n[lang]['cleanroads']}}</a></li>
				</ul>
			</div>
		</div>
		<div id="popup" class="popup clearfix">
		</div>
	</body>
</html>
