html,body,#map{
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	overflow:hidden;
	position:relative;
}
#map{
	width:100%;
}
a{
	text-decoration:none;
}
.popup,.info-overlay{
	position:relative;
	color:#4b4c4e;
	width:300px;
	height:auto;
	padding:15px;
	padding-bottom:0;
	background-color:#fff;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	top:20px;
	margin-left: 1px;
	z-index:100;
     	-webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;

}
.popup .stationname,.info-overlay .stationname{
	color:#00aed7;
}
.popup>div, .info-overlay>div{
	font-size:16px;
	line-height:24px;
	border-bottom: 1px solid #e6e6e6;
	padding:10px 0;
}
.popup>div:after,.info-overlay>:after{
	content: " ";
	display: table;
	clear:both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
  }
.clearfix:after {
    clear: both;
}
.popup>div label,.info-overlay>div label{
	width:220px;
	font-weight:bolder;
	display:block;
}
.popup>div.footer{
	width:120px;
	opacity:0.7;
	float:left;
}
.popup>div *,.info-overlay>div *{
	float:left;
}
.ol-zoom{
	left: auto;
	right: 8px;
}
.legend{
	position:absolute;
	top:0;
	left:0;
	width:400px;
	margin:0;
	background-color:#00afd6;
	color:#fff;
	height:100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);

}
.langs ul{
	list-style:none;
	margin:0;
	float:right;
	padding:10px;
	text-transform:uppercase;
	font-size:12px;
}
.langs ul li{
	display:inline;
	margin-right:10px;
}
.bluepanel ul li a{
	text-decoration:none;
	color:#fff;
	opacity:0.7;
	padding: 5px;
}
.langs ul li a.active,.langs ul li a:hover{
	opacity:1;	
}
.logo{
	float:left;
	width:130px;
	height:130px;
}
.logo img{
	height:80%;
	padding:10%;
}
.header{
	position:relative;
	background-color:#fff;
}
.header .title{
	float:right;
	font-size:20px;
}
.header h2{
	color:#00afd6;
	padding:8px;
	margin:0;
	font-weight:normal;
	float:right;
}
.close{
	background-color:#00afd6;
	padding:13px;
	margin:5px;
	display:block;
	color:#fff;
	float:right;
	height:15px;
	width:15px;
	background-image:url('../img/delete.svg');
	background-repeat:no-repeat;
	background-position:center;
}
.menu{
	background-image:url('../img/menu.svg');
}
.temphazard{
	background-image:url('../img/temp.png');
}
.no-rainfall{
	background-image:url('../img/street.png');
}
.low-rainfall{
	background-image:url('../img/low-rain.png');
}
.medium-rainfall{
	background-image:url('../img/mid-rain.png');
}
.high-rainfall{
	background-image:url('../img/strong-rain.png');
}
.low-snow{
	background-image:url('../img/low-snow.png');
}
.medium-snow{
	background-image:url('../img/mid-snow.png');
}
.high-snow{
	background-image:url('../img/strong-snow.png');
}

.infos{
	padding:10px 0;
	overflow-y:auto;
}
.infos h2{
	padding-top:10px;
	margin-left:40px;
}
.infos ul{
	list-style:none;
	margin:0;	
	padding:0;
}
.infos ul li{
	background-position:right;
	background-repeat:no-repeat;
	background-size:contain;
	padding:15px 0 15px 40px;
}
.infos ul li:nth-child(2n-1){
	background-color:#00a7cb;
}
.infos p{
	color:#535353;
	padding:15px 40px;
}
.legend-footer{
	position:absolute;
	bottom:0;
	left:50%;
	width:90%;
}
.legend-footer .footer-content{
	position:relative;
	left:-50%;
	color:#333;
	z-index:3000;
	width:100%;
	background-color:#00afd6;
}
.legend-footer ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}
.legend-footer a{
	color:#333;
	text-decoration:none;
}
.legend-footer .lifelogo{
	float:left;
	margin-left:20px;
}
.voice a.title{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:17px;
	display:block;	
	padding:13px 15px;
	text-transform:uppercase;
	position:absolute;
    	-webkit-transform: rotate(-90deg);
    	-moz-transform: rotate(-90deg);
    	-ms-transform: rotate(-90deg);
    	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.voice{
	position:absolute;
	right:0;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	transition: 0.5s linear;
}
.voice div.content img{
	height:50px;
}
.voice div.content a{
	padding:22px 4px;
	display:inline-block;
	margin: 0 4px;
}
.voice div.content{
	float:left;
	background-color:#fff;
}
.voice div.content li a{
	background-color:#e3e3e3;
	padding:10px;
	margin:12px;
	color:#00afd6;
	font-weight:bold;
	width:200px;	
	display:block;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
.partner{
	bottom:220px;
	right:-400px;
}
.contribute{
	bottom:60px;
	right:-250px;
}
.partner .title{
	background-color:#00afd6;
	left:-80px;
	top:24px;
}
.contribute .title{
	background-color:#67bb25;
	left:-94px;
	top:36px;
}
.contribute .content{
	width:250px;
}
.show-more{
	right:0 !important;
}
.header .close{
	display:none;
}
.popup-icon{
	position:absolute;
	bottom:-21px;
	left:auto;
	right:0;
	height:66px;
}
.info-overlay-container{
	background-color:#fff;
	margin:0;
	padding:0;
	width:100%;	
	height:79vh;	
	overflow-x:auto;
	
}
.info-overlay{
	-webkit-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.26);
	-moz-box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.26);
	box-shadow: 0 -4px 5px 0px rgba(0,0,0,0.26);
	width:84%;
	padding:8%;
	top:6px;
}
.info-overlay>div.footer {
	opacity: 0.7;
	border:none;
}
@media screen and (max-width: 1024px) {
	.legend {
		width:100%;
		z-index:3000;
		height:auto;
    	}
	.langs ul{
		padding:5px;
	}
    	.legend>div.legend-footer{
		display:none;
	}
	.logo{
		height:100%;
		width:auto;
	}
	.infos{
		max-height:0;
		padding:0;
		overflow:hidden;

	}
	.langs{
		height:7vh;
	}
	.header{
		height:14vh;
	}
	.openinfo{
		overflow:auto;
		max-height:79vh;
		height:79vh;
		width:100%;
	        -webkit-transition: 0.5s ease-out;
	        -moz-transition: 0.5s ease-out;
        	-o-transition: 0.5s ease-out;
	        -ms-transition: 0.5s ease-out;
        	transition: 0.5s ease-out;
	}
	.header .close{
		display:block;
	}
	.voice .title{
		font-size:14px;
	}
	.partner div.content img{
		height:35px;
	}
	.partner{
		right:-300px;
	}
	.contribute .title{
		left:-90px;
	}
	.partner .title{
	        left:-74px;
        	top:20px;
	}
	.ol-zoom{
		left: 8px;
		right:auto;
		bottom:0.5em;
		top:auto;
	}
	h2{
		font-size:20px;
	}	


}
